{% extends 'yits/base.html' %}
{% block content %}
<div class="main">
    <header class="header">
        <div class="logo">
            <span class="logo-t">YOUR </span><span class="logo-t txt">IT </span><span class="logo-t">SOFT</span>
        </div>
    <nav>
        <a class="nav-link" href="">Як ми працюємо</a>
        <a class="nav-link" href="">Про нас</a>
        <a class="nav-link" href="">Послуги</a>
        <a class="nav-link" href="">Продукти</a>
        <a class="nav-link" href="">Експертиза</a>
        <a class="nav-link" href="">Блог</a>
        <a class="nav-link" href="">Контакти</a>
        <a class="nav-link" href="">Кар'єра</a>
    </nav>
</header>
    <div class="main-c">
    <div class="main-t">
    <span class="m-clr">YOUR </span><span class="m-none-clr">BEST</span><span class="m-clr">IT</span><span class="m-clr"> SOFT</span><span class="m-none-clr">WERE SOLUTION</span>
    <p class="m-txt">Втілюємо в життя проєкти, які допоможуть полегшити ваші бізнес-процеси!</p>
        <button class="services-btn">Послуги</button>
    </div>
    <div class="main-p"></div>
</div>
</div>

<div class="content">
    <div class="ttl-name"><h2>НАШІ ПОСЛУГИ</h2></div>
    <div class="services-1">
        <div class="row">
            <p class="serv-t">Чат-боти</p>
        </div>
        <div class="row-1">
            <p class="serv-t">Інтеграція платіжних систем</p>

        </div>
        <div class="row-2">
            <p class="serv-t">Дизайн UI/UX</p>

        </div>
    </div>
    <div class="services-2">
        <div class="row-3">
            <p class="serv-t">Веб розробка</p>

        </div>
        <div class="row-4">
            <p class="serv-t">Розробка сучасного програмного забезпечення</p>

        </div>
        <div class="row-5">
            <p class="serv-t">Розробка онлайн калькуляторів</p>

        </div>
    </div>
        <div class="ttl-name"><h2>БЛОГ</h2></div>
    <div class="blog">
        <p class="bl-t">Привіт, давай знайомитися!</p>
    </div>
<div class="ttl-name"><h2>ЕКСПЕРТИЗА</h2></div>
    <div class="services-1">
        <div class="row1-">
            <p class="serv-t">Будівництво</p>
        </div>
        <div class="row-1-">
            <p class="serv-t">Аграрний сектор</p>

        </div>
        <div class="row-2-">
            <p class="serv-t">Бізнес</p>

        </div>
    </div>
    <div class="services-2">
        <div class="row-3-">
            <p class="serv-t">Медицина</p>

        </div>
        <div class="row-4-">
            <p class="serv-t">Система Smart Office</p>

        </div>
        <div class="row-5-">
            <p class="serv-t">Енергетика</p>

        </div>
    </div>
            <div class="ttl-name"><h2>ТУТ НАРОДЖУЮТЬСЯ ПРОЄКТИ</h2></div>

<div class="comm">
         <div class="form">
<form class="formstyled">
    <div class="common">
         <input name="fullName" placeholder="Прізвище, ім'я"  class="inputstyled">
     </div>
     <div class="commonStyledComponent__DivForInput-sc-1qty3yy-5 gkqDlw">
         <input name="contactNumber" placeholder="Контактний номер телефону"  class="inputstyled">
     </div>
     <div class="commonStyledComponent__DivForInput-sc-1qty3yy-5 gkqDlw">
         <input name="email" placeholder="Електронна пошта"  class="inputstyled">
     </div>
     <div class="commonStyledComponent__DivForInput-sc-1qty3yy-5 gkqDlw">
         <textarea name="message" placeholder="Текст звернення" class="areastyled"></textarea></div>
    <div class="commonStyledComponent">
     <div class="checkBoxstyled">
         <div class="checkBoxstyled-components">
             <input type="checkbox" name="checkBox" id="hidenCheckBox" class="checkBoxstyle">
         </div>
         <label for="hidenCheckBox" class="common-t">Я погоджуюся на обробку персональних даних</label>
     </div></div>
<div class="btn">
    <button class="send-btn">Надіслати</button>
</div>
</form></div>
    <div class="ph-l"></div>
</div>
</div>

<div class="footer">

</div>

{% endblock %}